* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --orange: #e74300;
}
body {
  font-family: system-ui, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.center {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.top {
  margin-top: 1rem;
}
a:hover {
  background-color: var(--orange);
}
span {
  background-color: var(--orange);
}
h1 {
  text-align: center;
}
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
p {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}
